* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 20px;
  opacity: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.bar-wrapper {
  border: 1px solid #aaa;
  background-color: #eee;
  max-width: 300px;
}

.bar-label {
  margin-bottom: 5px;
}

.bar {
  height: 20px;
  background-color: grey;
  width: 0%;
  transition: width 1s ease-in-out;
}

.section {
  min-width: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/*****************/
/* progress bars */
/*****************/

.active_stake .bar {
  transition-delay: 0s;
  background-color: hsl(180, 100%, 35%);
}

.total_stake .bar {
  transition-delay: 0.25s;
  background-color: hsl(190, 100%, 35%);
}

.pledged .bar {
  transition-delay: 0.75s;
  background-color: hsl(200, 100%, 40%);
}

.tax_fix .bar {
  transition-delay: 1s;
  background-color: hsl(210, 100%, 45%);
}

/***********/
/* general */
/***********/

a.link {
  opacity: 0.8;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

a.link:hover {
  opacity: 1;
}

.m-b-20 {
  margin-bottom: 20px;
}

/**************/
/* animations */
/**************/

.fade-in {
  animation: fade-in 1s ease 0s 1 normal forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}